<div *ngIf="_forecast">
  <table>
    <tr *ngFor="let item of _forecast">
      <td class="text-left">{{ item.dateTime | time }}</td>
      <td class="text-left">{{ item.temperature | celcius }}&deg;C</td>
      <td class="text-center">
          <i *ngIf="(item.id > 800) && (item.id < 900)" class="fa fa-cloud" aria-hidden="true"></i>
          <i *ngIf="(item.id >= 500) && (item.id < 600)" class="fa fa-tint" aria-hidden="true"></i>
          <i *ngIf="(item.id == 800)" class="fa fa-sun-o" aria-hidden="true"></i>
          <i *ngIf="(item.id >= 600) && (item.id < 700)" class="fa fa-snowflake-o" aria-hidden="true"></i>
      </td>
      <td class="text-left">{{ item.prediction }}</td>
    </tr>
  </table>
</div>