<app-wallpaper></app-wallpaper>
<div class="row">
    <div class="col-sm-3 col-md-2 text-center">
        <app-weather></app-weather>
        <div>
            &nbsp;<hr>&nbsp;
        </div>
        <app-forecast></app-forecast>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="well well-sm clock text-center">
            <h1><app-time></app-time></h1>
            <p><app-date></app-date></p>
        </div>
        <div>
                <app-quote></app-quote>
            </div>
        </div>
    <div class="col-sm-3 col-md-2 text-center">


    </div>
</div>