table {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;    
}

thead {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 4px;
    color: grey;
    background-color: white;
}

th {
    text-align: center;
}

td {
    border-style: none;
    color: grey;
}

td.month {
    border-style: none;
    color: white;
}

td div.today {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 4px;
    color: grey;
    background-color: white;
}