.cal-row {
    border-style: solid;
    border-width: 0px;
    border-color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.cal-1 {
    border-style: solid;
    border-width: 0px;
    border-color: blue;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    min-width: 12%;
    max-width: 12%;
}